

.td {
    width: 30%;
}

.td_release_date {
    width: 10%;
}

.border {
    border-bottom:  1px solid rgba(255, 255, 255, 0.177) !important;
}

.text_large {
    font-size: 6.5rem;
  }
  
  @media (max-width: 1200px) {
    .text_large {
      font-size: 5rem;
    }
  }
  
  @media (max-width: 992px) {
    .text_large {
      font-size: 4rem;
    }
  }
  
  @media (max-width: 768px) {
    .text_large {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 576px) {
    .text_large {
      font-size: 2rem;
    }
  }
  